<!doctype html>
<head>
  <meta charset="utf-8">
  <title>YouSell</title>

  <link rel="stylesheet" href="/style.css">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
</head>
<body>
  <header>
    <h1>YouSell</h1>

    <% if @user %>
    <div id="user">
      <span class="name"><%= h @user[:name] %></span>
      <span class="balance">$<%= h @user[:balance] %></span>
    </div>
    <% end %>
  </header>

  <div id="filler"></div>

  <div id="form">
    <% if @user %>
      <form action="/sell" method="post" name="sell">
        <div class="wrap">
          <input type="text" name="name" placeholder="Product Name"/><br />
          <input type="text" name="description" placeholder="Description"><br />
          <input type="text" name="price" placeholder="10"/><br />
          <input type="hidden" name="owner" value="<%= h @user[:name] %>" />
        </div>
        <button type="submit" name="submit" value="Sell" class="submit">Sell</button>
      </form>
    <% else %>
      <form action="/login" method="post" name="login">
        <div class="wrap">
          <input type="text" name="name" placeholder="Name"/><br />
          <input type="password" name="password" placeholder="Password"><br />
        </div>
        <button type="submit" name="submit" value="Sell" class="submit">Go!</button>
      </form>
    <% end %>
  </div>

  <% if @user %>
  <div id="list">
    <% $PRODUCTS.each do |p| %>
      <div class="product">
        <form action="/buy" method="post" name="buy">
          <input type="hidden" name="price" value="<%= h p[:price] %>"/>
          <input type="hidden" name="owner" value="<%= h p[:owner] %>" />
          <button type="submit" name="submit" value="Buy" class="submit">Buy</button>
        </form>

        <div class="price">$<%= h p[:price] %></div>
        <div class="name"><%= h p[:owner] %>'s <%= h p[:name] %></div>
        <div class="description"><%= h p[:description] %></div>
      </div>
    <% end %>

    <% if $PRODUCTS.length == 0 %>
    Sorry, nothing for sale yet.
    <% end %>
  </div>
  <% end %>

  <div id="debug" style="display:none">
    <h2>Users</h2>
    <%= h $USERS.inspect %>
    <h2>User</h2>
    <%= h @user.inspect %>
    <h2>Products</h2>
    <%= h $PRODUCTS.inspect %>
  </div>

</body>
</html>

